<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Eclipse_Core::all">
                    <resource id="Eclipse_AiCore::config_ai_client" title="Ai Client Config" sortOrder="900" translate="title"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
