<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="eclipse_ai_client" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Eclipse Connection Client</label>
            <tab>eclipse_modules</tab>
            <resource>Eclipse_AiCore::config_ai_client</resource>
            <group id="eclipse_ai_config" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>\Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <tooltip>This is your OpenAI API key.</tooltip>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="organisation_key" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Organisation Key</label>
                    <tooltip>This is your OpenAI Organisation Key.</tooltip>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="engine" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Engine</label>
                    <source_model>Eclipse\AiCore\Model\Config\Source\Engine</source_model>
                    <tooltip>This is your OpenAI Engines.</tooltip>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
